# ignore silva-138-99-nb-classifier.qza due to size
silva-138-99-nb-classifier.qza

# folders to ignore
fastqc_reports_trimmed/
trimmed_sequences/
Docker/
qiime2_analysis/
AGS_demultiplexed_data/
AGS_Example/
y

# files to ignore
.DS_Store
.Rhistory
qiime2_final.sh
basic_qiime_workflow.sh
basic_qiime_workflow_readme.md
AGS_Project_manifest.tsv
SRR_Acc_List.txt
SraRunTable.csv
AGS_Project_metadata.tsv
qiime2_test.sh
